:root {
  --primary-color: #A0C7C9;
  --secondary-color: #333;
  --background-color: #f9f9f9;
  --text-color: #000;
  --muted-text-color: #555;
  --highlight-color: black;
  --light-text: whitesmoke;
}


.about-us {
  line-height: 1.6;
  color: var(--secondary-color);
  padding: 2rem;
  margin: 0 auto;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.header {
  text-align: center;
  padding: 10px;
  margin-bottom: 3rem;
  margin-left: 25px;
  background-color: var(--primary-color);
}

.header h1 {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: bold;
}

.header p {
  font-size: 1.2rem;
  color: var(--light-text);
}

.history::before, .services::before, .mission::before, .contact::before {
  background-color: var(--highlight-color);
}

h2 {
  font-size: 1.8rem;
  color: var(--text-color);
}

h2::after {
  background-color: var(--highlight-color);
}

ul li::before {
  color: var(--highlight-color);
}

.contact p {
  color: var(--muted-text-color);
}

strong {
  color: var(--text-color);
}
